PyMuPDF
beautifulsoup4
camelot-py
chromadb
faiss-cpu
gradio
langchain
langchain-community
langchain_groq
python-docx
python-dotenv
requests
sentence-transformers
streamlit
tiktoken
trafilatura
transformers